

<div>
	<InputFile OnChange="LoadFiles" multiple />
	<br /><br />
	<div><b>@FileUploadResults</b></div>
</div>
<hr />
<div>
	@if(FileUploadResults != null)
	{
		<p><b>ACCOUNT:</b> @OrderClassMembers.TestValueAddr</p>
		<hr />
		<p><b>CALLERINFO</b></p>
		<p><b>Email:</b> @OrderClassMembers.TestJsonCallerInfo</p>
		<hr />
		<p><b>PICKUP ADDRESS</b></p>
		<p><b>AddressLine1:</b> @OrderClassMembers.TestJsonPickupAddr</p>
		<p><b>AddressLine2:</b> @OrderClassMembers.TestJsonPickupAddr2</p>
		<p><b>Company:</b> @OrderClassMembers.TestJsonPickupAddrCo</p>
		<p><b>City:</b> @OrderClassMembers.TestJsonPickupAddrCity</p>
		<p><b>PostalCode:</b> @OrderClassMembers.TestJsonPickupAddrZip</p>
		<p><b>StateProvince:</b> @OrderClassMembers.TestJsonPickupAddrSt</p>
		<hr />
		<p><b>PICKUP LOCATION</b></p>
		<p><b>Latitude: @OrderClassMembers.TestJsonPickupLocLat</b></p>
		<p><b>Longitude: @OrderClassMembers.TestJsonPickupLocLong</b></p>
		<hr />
		<p><b>PICKUP CONTACT INFO</b></p>
		<p><b>Id: @OrderClassMembers.TestJsonPickupContactInfoId</b></p>
		<p><b>Name: @OrderClassMembers.TestJsonPickupContactInfoName</b></p>
		<p><b>Phone: @OrderClassMembers.TestJsonPickupContactInfoPhone</b></p>
		<p><b>Email: @OrderClassMembers.TestJsonPickupContactInfoEmail</b></p>
		<p><b>Language: @OrderClassMembers.TestJsonPickupContactInfoLanguage</b></p>
		<hr />
		<p><b>PICKUP NOTES</b></p>
		<p><b>Notes: @OrderClassMembers.TestJsonPickupNotes</b></p>
		<hr />
		<p><b>DELIVERY ADDRESS</b></p>
		<p><b>AddressLine1: @OrderClassMembers.TestJsonDeliveryAddr1</b></p>
		<p><b>AddressLine2: @OrderClassMembers.TestJsonDeliveryAddr2</b></p>
		<p><b>Company: @OrderClassMembers.TestJsonDeliveryAddrCo</b></p>
		<p><b>City: @OrderClassMembers.TestJsonDeliveryAddrCity</b></p>
		<p><b>PostalCode: @OrderClassMembers.TestJsonDeliveryAddrZip</b></p>
		<p><b>StateProvince: @OrderClassMembers.TestJsonDeliveryAddrSt</b></p>
		<hr />
		<p><b>DELIVERY LOCATION</b></p>
		<p><b>Latitude: @OrderClassMembers.TestJsonDeliveryLocLat</b></p>
		<p><b>Longitude: @OrderClassMembers.TestJsonDeliveryLocLong</b></p>
		<hr />
		<p><b>DELIVERY CONTACT INFO</b></p>
		<p><b>Id: @OrderClassMembers.TestJsonDeliveryContactInfoId</b></p>
		<p><b>Name: @OrderClassMembers.TestJsonDeliveryContactInfoName</b></p>
		<p><b>Phone: @OrderClassMembers.TestJsonDeliveryContactInfoPhone</b></p>
		<p><b>Email: @OrderClassMembers.TestJsonDeliveryContactInfoEmail</b></p>
		<p><b>Language: @OrderClassMembers.TestJsonDeliveryContactInfoLanguage</b></p>
	}
	@if (FileUploadResults != null)
	{
		<hr />
		<p>Order Status: @TestJsonOrderStatus</p>
	}
</div>

