
<div>
	<p><b>RESULT:</b></p>
	<hr />
	<p>@TestValueAddr</p>
	<p>@TestJsonCallerInfo</p>
	<p>@TestJsonPickupAddr</p>
	<p>@TestJsonPickupLoc</p>
	<hr />
	<p>Order Status: @TestJsonOrderStatus</p>
</div>

