

<div>
	<InputFile OnChange="LoadFiles" multiple />
	<br /><br />
	<div><b>@FileUploadResults</b></div>
</div>
<hr />
<div>
	@if(FileUploadResults != null)
	{
		<p><b>ACCOUNT:</b> @TestValueAddr</p>
		<hr />
		<p><b>CALLERINFO</b></p> 
		<p><b>Email:</b> @TestJsonCallerInfo</p>
		<hr />
		<p><b>PICKUP ADDRESS</b></p>
		<p><b>AddressLine1:</b> @TestJsonPickupAddr</p>
		<p><b>AddressLine2:</b> @TestJsonPickupAddr2</p>
		<p><b>Company:</b> @TestJsonPickupAddrCo</p>
		<p><b>City:</b> @TestJsonPickupAddrCity</p>
		<p><b>PostalCode:</b> @TestJsonPickupAddrZip</p>
		<p><b>StateProvince:</b> @TestJsonPickupAddrSt</p>
		<hr />
		<p><b>PICKUP LOCATION</b></p>
		<p><b>Latitude: @TestJsonPickupLocLat</b></p>
		<p><b>Longitude: @TestJsonPickupLocLong</b></p>
		<hr />
		<p><b>PICKUP CONTACT INFO</b></p>
		<p><b>Id: @TestJsonPickupContactInfoId</b></p>
		<p><b>Name: @TestJsonPickupContactInfoName</b></p>
		<p><b>Phone: @TestJsonPickupContactInfoPhone</b></p>
		<p><b>Email: @TestJsonPickupContactInfoEmail</b></p>
		<p><b>Language: @TestJsonPickupContactInfoLanguage</b></p>
		<hr />
		<p><b>PICKUP NOTES</b></p>
		<p><b>Notes: @TestJsonPickupNotes</b></p>
		<hr />
		<p><b>DELIVERY ADDRESS</b></p>
		<p><b>AddressLine1: @TestJsonDeliveryAddr1</b></p>
		<p><b>AddressLine2: @TestJsonDeliveryAddr2</b></p>
		<p><b>Company: @TestJsonDeliveryAddrCo</b></p>
		<p><b>City: @TestJsonDeliveryAddrCity</b></p>
		<p><b>PostalCode: @TestJsonDeliveryAddrZip</b></p>
		<p><b>StateProvince: @TestJsonDeliveryAddrSt</b></p>
		<hr />
		<p><b>DELIVERY LOCATION</b></p>
		<p><b>Latitude: @TestJsonDeliveryLocLat</b></p>
		<p><b>Longitude: @TestJsonDeliveryLocLong</b></p>
		<hr />
		<p><b>DELIVERY CONTACT INFO</b></p>
		<p><b>Id: @TestJsonDeliveryContactInfoId</b></p>
		<p><b>Name: @TestJsonDeliveryContactInfoName</b></p>
		<p><b>Phone: @TestJsonDeliveryContactInfoPhone</b></p>
		<p><b>Email: @TestJsonDeliveryContactInfoEmail</b></p>
		<p><b>Language: @TestJsonDeliveryContactInfoLanguage</b></p>
	}
	@if (FileUploadResults != null)
	{
		<hr />
		<p>Order Status: @TestJsonOrderStatus</p>
	}
</div>

